---
import Default from "../layouts/default.astro";
import RecipesRecommender from "../components/recipes-recommender.astro";
---

<Default>
  <header class="container">
    <hgroup>
      <h1>Masak Apa?</h1>
      <p>Enter the ingredients that you have and start cooking</p>
    </hgroup>
  </header>
  <main class="container">
    <noscript>
      <p>
        This website requires JavaScript to run. Please enable JavaScript in
        your browser settings.
      </p>
    </noscript>
    <RecipesRecommender />
  </main>
</Default>
